.hero {
  background-color: #f8f9fa;
}

main {
   min-height: 80vh;
   height: auto !important;
   height: 100%;
   margin: 0 auto -60px;
}

.footer {

  margin-top: 50%;
  
}

.modal-body img {
    width: auto;
    max-height: 70vh;  /* Quase toda a tela */
    height: auto;
    display: block;
    margin: 0 auto;
}

.certificado-img {
    max-height: 95vh;
    width: auto;
    height: auto;
}

 body {
    font-family: 'Arial', sans-serif;
    padding-bottom: 2em; /* ajuste o valor de acordo com a altura do footer */
  /* ajuste o valor de acordo com a altura do footer */
  
}

.navbar-nav .nav-link {
  transition: all 0.2s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #0d6efd;
  text-decoration: underline;
}


 .chatbot {
    position: fixed;
    top: 430px; /* Aumentado para descer mais */
    left: 50%;
    transform: translateX(-50%);
    background-color: #f1f1f1;
    color: #333;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-family: sans-serif;
    font-size: 16px;
    z-index: 9999;
    opacity: 1;
    transition: opacity 1s ease, top 1s ease;
  }

  .chatbot.hide {
    opacity: 0;
    top: 60px; /* Move um pouco pra cima ao desaparecer */
    pointer-events: none;
  }
  @keyframes aparecer {
    from {
      transform: translateY(50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

.profile-photo-wrapper {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  
  /* border-color: white;
  border-width: 3px;
  border-style: solid;   */
}

.profile-photo {
  width: 100%;
  height: 100%;
  /* object-fit: cover;  */
  object-position: center top;

  /* ou ajuste para manter o rosto bem enquadrado */
}

#btnTopo {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
    transition: opacity 0.4s ease;
  }